NEXT_PUBLIC_SUPABASE_URL="https://uvtkurfqutbateazelbm.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2dGt1cmZxdXRiYXRlYXplbGJtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE5MTMxMTIsImV4cCI6MjA4NzQ4OTExMn0.A_jRDO1LOYdUSA_ubHTcbw-7aQF6WHbgcddnu4rRfpY"
SUPABASE_SERVICE_ROLE_KEY="sb_publishable_OOocosuB3DeoLJXjMJQHLQ_b8MkNwxD"
